@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2c2c2c;
  --foreground: #ffffff;
  --primary: #eabc4d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer {
  .btn {
    height: 3rem;
    font-weight: bold;
    cursor: pointer;
  }
  .btn-link,
  .btn-link-sm {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    min-width: 8rem;
    text-align: center;
  }
  .btn-primary {
    background-color: var(--primary);
  }
  .btn-link {
    font-size: 1.2rem;
  }
  .btn-simple {
    background-color: #efebe7;
    color: #474747 !important;
  }
  .btn-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
  }
  .hero {
    background-image: url("../../public/hero/background.png");
    background-repeat: no-repeat;
    background-color: #0a0a0a;
  }
  .hero2 {
    background-image: url("../../public/happy-caucasian-male-in-formal-wear-driving-an-aut-2023-11-27-04-50-22-utc\ 1.png");
  }
  .background-section1 {
    background-image: url("../../public/trade-11.png");
    max-width: 100%;
    height: 33rem;
    width: 29rem;
    background-size: cover;
    background-position: right;
  }
  .background-section2 {
    background-image: url("../../public/barrasLaterales.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 36rem;
    background-size: contain;
  }
  .background-coins {
    background-image: url("../../public/coins/coins2.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
  .scrollvideos-track {
    animation: scrollvideos 10s linear infinite;
  }
  .front-car {
    background-image: url("../../public/front\ car\ 1.png");
  }
  .social-section3:hover {
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 100%;
    background-color: #e5a000;
    transition-duration: 100ms;
    transition-property: padding;
  }
  .social-section3:hover ~ .social-section3-text {
    transform: translateY(-5rem);
    transition: all;
    transition-duration: 150ms;
  }
  .carrousel-coins-track {
    animation-duration: 15s;
    animation-name: carrousel-coins;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .activador:hover ~ div {
    opacity: 1 !important;
  }
  .point:hover ~ img {
    opacity: 1 !important;
  }

  @keyframes carrousel-coins {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes scrollvideos {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
}
